{% extends "base.html" %}

{% block title %}Contact | Nikhil Mudda{% endblock %}

{% block content %}
<section class="contact">
  <h2>🎫 Get Your Tickets</h2>
  <p class="subtext">Let’s connect — for a project, a conversation, or a good story.</p>

  <div class="contact-cards">
    <div class="contact-card">
      <h3>📧 Email</h3>
      <p>nikhilmudda20@gmail.com</p>
    </div>

    <div class="contact-card">
      <h3>💼 LinkedIn</h3>
      <p><a href="linkedin.com/in/nikhil-mudda-b0342824b" target="_blank">linkedin.com/in/nikhil-mudda</a></p>
    </div>

    <div class="contact-card">
      <h3>💻 GitHub</h3>
      <p><a href="https://github.com/nikhilmudda" target="_blank">github.com/nikhilmudda</a></p>
    </div>
  </div>
</section>
{% endblock %}
